.node {
  height: 6rem;
  background-color: aquamarine;
  padding: 1rem;
  display: inline-block;
  font-size: 2rem;
  border: 0.3rem solid black;
  margin: 0 0.3rem;
  transition: all 0.4s;
}

.nodeVisited {
  background-color: coral;
}

.nodeFound {
  background-color: darkgreen;
  height: 9rem;
  padding: 2rem;
}
